@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* j'utilise une sprite sheet (une animation qui contient toutes ces frames sur une seule image) et je l'anime */


body{
  background-color: black;
}
 
/* comment enlever cette barre de tabulation qui apparait quand on clique sur l'ecran ? */

#score{
  font-family: 'Roboto', sans-serif;
  color: rgb(229, 255, 0);
  text-shadow: -6px 0 rgb(0, 111, 175), 0 6px rgb(0, 111, 175), 6px 0 rgb(0, 111, 175), 0 -6px rgb(0, 111, 175);
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: score 0.8s infinite;
  display: none;
}
@keyframes score {
  from {
    font-size: 20px;
  }
  to {
    font-size: 100px;
  }
}

#scorefinal{
  font-family: 'Bakbak One', cursive;
  font-size: 24px;
  text-align: center;
  color: white;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2 ;
}

.img-accueil{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 600px;
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(25, 210, 239);
}
#imgscore{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 600px;
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(25, 210, 239);
  display: none;
  z-index: 2 ;
}
.p-accueil{
  font-family: 'Bakbak One', cursive;
  font-size: 20px;
  text-align: center;
  color: white;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#play{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  padding: 5px 10px 5px 10px;
  border: 2px solid white;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2 ;
}
#play:hover{
  color: rgb(229, 255, 0);
  border: 2px solid rgb(229, 255, 0);
}
#play1{
  font-family: 'Righteous', cursive;
  font-size: 30px;
  padding: 5px 10px 5px 10px;
  border: 2px solid white;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1 ;
}
#play1:hover{
  color: rgb(229, 255, 0);
  border: 2px solid rgb(229, 255, 0);
}
.background{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 600px;
  border: 5px solid;
  border-radius: 5px;
  border-color: rgb(25, 210, 239);
  background-image: url("src/background1.jpg");
  background-size: 1080px 600px;
  animation: scroll-bg 5s linear infinite;
  overflow: hidden;
}

@keyframes scroll-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1080px 0;
  }
}

#rouler {
  position: absolute;
  top: 70%;
  left: 15%;
  width: 69px;
  height: 182px;
  background-image: url('src/rouler.png');
  animation: rouler 1.7s steps(2) infinite;
  z-index: 1 ;
}
@keyframes rouler {
  100% {
    background-position: -250px;
  }
}

/* animation à afficher seulement lorsque l'on appuie sur espace */
#sauter {
  position: absolute;
  top: 74%;
  left: 11%;
  width: 122px;
  height: 160px;
  background-image: url('src/sauter.png');
  animation: sauter 0.8s steps(7) infinite;
  display: none;
  z-index: 1 ;
}
@keyframes sauter {
  100% {
    background-position: -1120px;
  }
}

/* animation game over */
#gameover {
  position: absolute;
  top: 70%;
  left: 11%;
  width: 110px;
  height: 180px;
  background-image: url('src/tomber.png');
  animation: game-over 1.5s steps(5);
  animation-direction: normal;
  animation-fill-mode: forwards;
  z-index: 1 ;
  display: none;
}

@keyframes game-over {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -550px 0;
  }
}

#plot{
  position: absolute;
  top: 92%;
  left: 120%; 
  width: 40px;
  height: 50px;
  animation: scroll-plot 5s linear infinite;
  
} 
@keyframes scroll-plot {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1080px);
  }
}

#trash{
  position: absolute;
  top: 92%;
  left: 145%; 
  width: 40px;
  height: 50px;
  animation: scroll-poubelle 5s linear infinite;
  animation-delay: 2s;
  
} 
@keyframes scroll-poubelle {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1080px);
  }
}


#cochon{
  position: absolute;
  top: 92%;
  left: 120%; 
  width: 40px;
  height: 50px;
  animation: scroll-cochon 3.5s linear infinite;
  animation-delay: 6s;
  
} 
@keyframes scroll-cochon {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2000px);
  }
}
